<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="src/tasks/tasks.js" defer></script>
  <script src="src/userController.js" defer></script>
  <script src="src/settingsController.js" defer></script>
  <script src="src/tasks/tasksService.js" defer></script>
  <script src="src/index.js" defer></script>
  <link rel="stylesheet" href="style.css">

</head>

<!-- <body ng-app> -->
<body ng-controller="AppCtrl"> 

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" ng-click="changedisplay('tasks')">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ng-click="changedisplay('users')">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ng-click="changedisplay('settings')">Settings</a>
          </li>
        </ul>
        <div class="ms-auto navbar-text" >
          <span ng-click="changedisplay('login')">Welcome {{ user.name }}, Login </span>
        </div>
      </div>
    </div>
  </nav>
  <h1>{{title}}</h1>

  <hr>

  <div class="container">
    <div class="row">
      <div class="row">

        <div ng-include="currentPage.tpl"></div>

      </div>
    </div>
  </div>
</body>

</html>