form.ng-submitted .ng-invalid,
form .ng-invalid.ng-dirty,
form .ng-invalid.ng-touched {
    border: 2px solid red;
}

form.ng-submitted .ng-valid,
form .ng-valid.ng-dirty,
form .ng-valid.ng-touched {
    border: 2px solid rgb(0, 255, 76);
}