<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="index.js"></script>

    <title>Document</title>
</head>
<body class="container">
    <div ng-app="app" ng-cloak="false">
        <div ng-controller="ticTacToe">
          <h2>Tic Tac Toe</h2>
          <div class="gameinfo">       
              <label>Board Size</label>
              <input type="number" ng-model="boardSize" />
              <br/>
              <br/>
            <label>How many to win?</label>
            <input type="number" ng-model="numberToWin" />
            <button class="btn btn-success" ng-click="createBoard()">New game</button>
            <p ng-show="errors">{{errors}}</p>       
          </div>
           <hr/>
           <div class="board">
             <p ng-show="!winner && !draw">{{turn}} to move</p> 
             <div ng-repeat="column in board" class="column"> 
               <div class="col">
                   <button class="btn btn-warning" ng-repeat="cell in column.object.row" ng-click='markPosition(column.object.rowIndex, $index)' ng-style="{'width' : '60px', 'height' : '60px', margin : '2px'}">{{cell.markPlace}} </button>
                   <!-- <button class="btn btn-warning" ng-repeat="cell in column.object.row" ng-click='markPosition($parent.$index, $index)' ng-style="{'width' : '60px', 'height' : '60px', margin : '2px'}">{{cell.markPlace}} </button> -->
                </div>
             </div>   
           </div>
       </div>  
     </div>
</body>
</html>