<div class="row">
    <div><span>Welcome {{ user.name }}</span></div>
    <span ng-click="login()" ng-hide="isLoggedIn">Login</span>
    <span ng-click="logout()" ng-show= "isLoggedIn">Logout</span>
    <input type="text" ng-model="user.name">          
  </div>