<div class="container" ng-controller="SettingsCtrl">

    <h3>Settnigs</h3>

    {{settings.test}}

    <app-highlight></app-highlight> <br>

    <div app-highlight=""></div>

    <div class="app-highlight"></div>
    
    <h4>Ostatio zamknięte: {{zmianna}}</h4>

    <app-alert  type="danger" on-dismiss="zmianna = 1">
        <h1>Test</h1>
    </app-alert>
    <app-alert message="Brak wiadomości" type="info" on-dismiss="zmianna = 2"></app-alert>
    <app-alert message="Ala ma kota" type="success" on-dismiss="zmianna = 3"></app-alert>
</div>

<!-- directive: app-highlight_wylacz -->