<div class="row" ng-controller="TasksCtrl">
    <div class="col" ng-if= "showForm">
      <dl>
        <dt>Name: </dt>
        <dd>{{selectedTask.name}} </dd>
        <dt>Completed: </dt>
        <dd>{{ tsk = selectedTask.completed ? "Yes": "No" }}</dd>
      </dl>
      <button class="btn btn-info" ng-click="editTask(activeListItem)">Edit</button>
    </div>
    <div class="col">
      
      <div class="col" >
        <dl>
          <label for="task_add_name">Name</label>
          <input id="task_add_name" type="text" class="form-control" ng-model="taskToAdd.name" ng-keypress="addTaskWithEnterKay($event)">
          
          <label for="task_completed">
            <input id="task_completed" type="checkbox"  ng-checked="taskToAdd.completed" ng-click="setNewTaskStatus()">
            Completed</label>
        </dl>
        <button class="btn btn-info" ng-click="addTask()">Add</button>
      </div>
      <br>
      <br>
      <form ng-if= "!showForm">
        <!-- .form-group>label{Name}+input.form-control -->
        <div class="form-group mb-3">
          <label for="task_name">Name</label>
          <input id="task_name" type="text" class="form-control" ng-model="form.name">
        </div>
        <div class="form-group mb-3">
          <label for="task_completed">
            <input id="task_completed" type="checkbox"  ng-checked="form.completed" ng-click="changeTaskStatus()">
            Completed</label>
        </div>
        <button class="btn btn-success" ng-click="saveForm(form.id)">Save</button>
        <button class="btn btn-danger" ng-click="cancelForm()">Cancel</button>
      </form>
    </div>
    
    <div ng-repeat= "taskInFromTasks in displayedTaskList" class="row">
      <div data-list-item-id="{{taskInFromTasks.id}}" class="list-group-item col" 
      ng-click="changeListActiveItem(taskInFromTasks.id)"
      ng-class=" {
       'active': taskInFromTasks.id === selectedTask.id,
       'task-completed': taskInFromTasks.completed
      } "
      ng-style="taskInFromTasks.completed === true ? {'text-decoration': 'line-through'}:{}"
      >
      <!-- ng-click="changeListActiveItem(taskInFromTasks.id)" -->
       {{$index}}. {{taskInFromTasks.name}}
      </div>
      <button class="btn btn-danger col" ng-click="deleteItemOnTaskList(taskInFromTasks.id)">Delete</button>
    </div>
    <div>
      <label for="search_task">Search</label>
          <input id="search_task" type="text" class="search-task" ng-change="searchTask()" ng-model="filteringParameter">
    </div>
  </div>