<div class="container" ng-controller="UsersPackageCtrl">
    <div class="row">
      <div class="col-5">
        <h4>Users List</h4>
        <div class="list-group" ng-repeat="user in usersPage.users">
          <div class="list-group-item" ng-click="usersPage.select(user.id)" 
          ng-class= "{'active': user.id === usersPage.selected.id}"
          >
          {{$index+1}}. {{user.username}}</div>
          <!-- <div class="list-group-item">2. User 02</div>
          <div class="list-group-item">3. User 03</div> -->
        </div>
      </div>
      <form class="col-5" ng-if="!usersPage.editMode">
        <div class="display-user-form ">
          <h4>Selected user details</h4>
          <dl>
            <dt>Nazwa</dt>
            <dd>{{usersPage.selected.username}}</dd>
          </dl>
          <button class="btn btn-info" ng-click="usersPage.editUser()">Edit</button>
        </div>
      </form>   
    
    

      <form class="col-5" ng-if="usersPage.editMode" name="usersPage.editionForm">
        <div class="form-group mb-3">
          <label for="edit_user" class="col">Edit User</label>
          <input id="edit_user" type="text" ng-model="usersPage.edited.username" required minlength="3" name="name" class="col">
          <p class="text-danger" ng-if="usersPage.editionForm['name'].$error.minlength">Name is to short!</p>

          <button class="btn btn-info" ng-click="usersPage.updateUser(usersPage.edited)">Edit</button>
          <button class="btn btn-info" ng-click="usersPage.deleteUser(usersPage.edited)">Delete User</button>
        </div>
        <!-- <div>      {{usersPage.editionForm | json:2}}      </div> -->
      </form>
      
      <form class="col-8">
        <div class="form-group mb-3">
          <label for="add_new_user">Add New User</label>
          <input id="add_new_user" type="text" ng-model="usersPage.newUser.name">
          <button class="btn btn-info" ng-click="usersPage.addNewUser(usersPage.newUser.name)">Add</button>
        </div>
      </form>
    </div>
    <button class="btn btn-info" ng-click="usersPage.fetchUsers()">Fetch Data</button>
    <!-- ng-controller='UsersUpdatePackage' -->
          
    
</div>